<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Mã kế hoạch</th>
                  <th>Tên môn giảng dậy</th>
                  <th>Họ tên giáo viên</th>
                  <th>Nội dung kế hoạch</th>
                  <th>Tên khoa</th>
                  <th>Học Kỳ</th>
                  <th>Chuyên ngành</th>
                </tr>
                </thead>
                <tbody *ngFor="let row of scores">
                  <tr>
                    <td>{{row.id_plan}}</td>
                    <td> {{row.name_subject}}</td>
                    <td>{{row.name_teach}}</td>
                    <td>{{row.name_plan}}</td>
                    <td>{{row.name_Faculty}}</td>
                    <td> {{row.seme}}</td>
                    <td> {{row.namspect}}</td>
                  </tr>

                </tbody>
                <tfoot>
                <tr>
                  <th>Mã kế hoạch</th>
                  <th>Tên môn giảng dậy</th>
                  <th>Họ tên giáo viên</th>
                  <th>Nội dung kế hoạch</th>
                  <th>Tên khoa</th>
                  <th>Học Kỳ</th>
                  <th>Chuyên ngành</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

