<!-- <div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <button type="button" class="btn btn-block btn-primary" style="    width: 5em;" data-toggle="modal" data-target="#modal-secondary">Thêm</button>
            </div>
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Mã học sinh</th>
                  <th>Mã lớp</th>
                  <th>Họ tên</th>
                  <th>Giới tính</th>
                  <th>Quê quán</th>
                  <th>Ngày sinh</th>
                  <th>Chuyên ngành</th>
                  <th colspan="2" style="text-align: center;">Chức năng</th>
                </tr>
                </thead>
                <tbody *ngFor="let row of dssv">
                  <tr *ngIf="row.iD_Student !=null">
                    <td>{{row.iD_Student}}</td>
                    <td> {{row.iD_class}}</td>
                    <td>{{row.name_Student}}</td>
                    <td *ngIf="row.sex_Student=='1'">Nam</td>
                    <td *ngIf="row.sex_Student=='0'">Nữ</td>
                    <td>{{row.village_Studen}}</td>
                    <td> {{row.date_student}}</td>
                    <td> {{row.name_Faculty}}</td>
                    <td><a class="btn btn-app">
                      <i class="fas fa-edit"></i> Edit
                    </a></td>
                    <td><a class="btn btn-app">
                      <i class="fas fa-trash-alt"></i> Delete
                    </a></td>
                  </tr>

                </tbody>
                <tfoot>
                <tr>
                  <th>Mã kế hoạch</th>
                  <th>Tên môn giảng dậy</th>
                  <th>Họ tên giáo viên</th>
                  <th>Nội dung kế hoạch</th>
                  <th>Tên khoa</th>
                  <th>Học Kỳ</th>
                  <th>Chuyên ngành</th>
                  <th colspan="2" style="text-align: center;">Chức năng</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
<div class="content-wrapper">
  <section class="content">
<div class="card">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Danh sách sinh viên học lại</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
<div class="p-mb-3">
  <p-button type="button"  icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
  <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
  <p-button type="button"  icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
</div>
<p-table #dt [value]="dssv | filter:searchText1" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,25,50]" >
    <ng-template pTemplate="caption">
      <div class="p-d-flex" style="display: flex;">
        <button type="button" style="    width: 8em;padding: 1.5em;" class="btn btn-danger" style="    width: 5em;" data-toggle="modal" data-target="#modal-secondary">Thêm</button>
          <!-- <button type="button" style="    height: 4em;width: 5em;" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
          <button type="button"  style="    height: 4em;width: 5em;" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
          <button type="button" style="    height: 4em;width: 5em;" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
            <input type="text" style="    width: 40em;padding: 1.5em;margin-left: 0.7em;" class="form-control" placeholder="Search Here" [(ngModel)]="searchText1">
      </div>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th style="font-weight: bold;">Mã sinh viên</th>
          <th style="font-weight: bold;">Mã lớp</th>
          <th style="font-weight: bold;">Họ tên</th>
          <th style="font-weight: bold;">Gới tính</th>
          <th style="font-weight: bold;">Quê quán</th>
          <th style="font-weight: bold;">Ngày sinh</th>
          <th style="font-weight: bold;">Chuyên ngành</th>
          <th colspan="2" style="text-align: center;font-weight: bold;">Chức năng</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"  let-row >
        <tr>
          <td>{{row.iD_Student}}</td>
          <td> {{row.iD_class}}</td>
          <td>{{row.name_Student}}</td>
          <td *ngIf="row.sex_Student=='1'">Nam</td>
          <td *ngIf="row.sex_Student=='0'">Nữ</td>
          <td>{{row.village_Studen}}</td>
          <td> {{row.date_student}}</td>
          <td> {{row.name_Faculty}}</td>
          <td><a class="btn btn-app">
            <i class="fas fa-edit"></i> Edit
          </a></td>
          <td><a class="btn btn-app">
            <i class="fas fa-trash-alt"></i> Delete
          </a></td>
        </tr>
  </ng-template>
  </p-table>
</div>
</section>
</div>
<div class="modal fade show" id="modal-secondary" style="display: none; padding-right: 6em;" aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content bg-secondary" style="     background: #FC9928 !important;width: 267% !important;
    margin-left: -25em;">
      <div class="card card-warning">
        <div class="card-header" style="background: #FC9928 !important">
          <h3 class="card-title">General Elements</h3>
        </div>

        <div class="card-body">
          <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="row">
              <div class="col-sm-6">

                <div class="form-group">
                  <label style="color: black;">Mã sinh viên</label>
                  <input type="text" formControlName = "masv" #masv class="form-control" placeholder="Mã ...">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label style="color: black;">Họ tên</label>
                  <input type="text" formControlName = "Hoten" #Hoten class="form-control" placeholder="Tên ..." >

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">

                <div class="form-group">
                  <label style="color: black;">Địa chỉ</label>
                  <textarea class="form-control" ng-model="diachi"  formControlName = "diachi" #diachi rows="3" placeholder="Địa chỉ ..." required></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label style="color: black;">Giới tính</label>
                  <div class="form-group">
                    <mat-radio-group formControlName="gender" ngModel="gender" required >
                      <label class="form-check-label" style="color: black;">Nam</label>
                      <mat-radio-button value="1" style="    margin-left: 0.3em;"></mat-radio-button><br>
                      <label  class="form-check-label" style="color: black;">Nữ</label>
                      <mat-radio-button value="0" style="    margin-left: 1em;"></mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">

                <div class="form-group">
                  <label style="color: black;">Mã lớp</label>
                  <select class="form-control" ng-model="malop" formControlName = "malop" #malop>
                      <option *ngFor="let row1 of lop1" value="{{row1.iD_class}}">{{row1.iD_class}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label style="color: black;">Chuyên ngành</label>
                  <select class="form-control" ng-model="chuyennganh" formControlName = "chuyennganh" #chuyennganh>
                    <option  *ngFor="let row1 of khoa1" value="{{row1.name_Faculty}}" >{{row1.name_Faculty}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <label style="color: black;">Ngày sinh</label>
              <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
                <div class="col-10">
                  <input class="form-control" ng-model="ngaysinh" formControlName = "ngaysinh" #ngaysinh type="datetime-local" value="2020-00-00T13:00:00" id="example-datetime-local-input">
                </div>
              </div>
            </div>
            <button class="btn btn-outline-danger" color="primary" mat-raised-button type="submit" [disabled]="!loginForm.valid">Thêm SV</button>
          </form>
          <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" >
            <input type = "text" formControlName = "masv" minlength="5" Maxlength="25" placeholder = "username" ngModel>
            <br/>
            <input type = "Hoten" formControlName = "Hoten" placeholder = "password" ngModel>
            <br/>
            <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!loginForm.valid">Submit</button>
           </form> -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light"(click)="add(masv.value,malop.value,Hoten.value,gender.value,diachi.value,ngaysinh.value,chuyennganh.value);masv.value='';malop.value='';Hoten.value='';gender.value='';diachi.value='';ngaysinh.value='';chuyennganh.value=''" >Save changes</button>
      </div> -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

